.modal-container {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: bold;
    color: #e5bb22;
  }
  
  .modal-content {
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #d8dce3;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #e5bb22;
    background-image: url('../../assets/images/pattern.png');

  }
  .selected-table {
    font-size: 1.25rem;
    padding-bottom: 2%;
    }
    
    /* input[type="date"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      display: none;
    }
    
    input[type="date"]::-webkit-calendar-picker-indicator {
      -webkit-appearance: none;
      display: none;
    } */
    
  .booking-dropdown {
    width: 85%;
    padding: 2% 0;
    background-color: var(--color-golden);
    color: white;
    margin: 2% 0;
    font-family: "Roboto";
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    text-align:center;
    }
    
    .booking-dropdown:hover {
    background-color: var(--color-goldentext);
    color: white;
    }
    
    .booking-dropdown:focus {
      outline: none;
      box-shadow: none;
    }
    
    .booking-dropdown-menu:focus {
      outline: none;
    }
    
    .booking-dropdown-item:hover {
      background-color:#e5bb22;

    }
    
    .booking-dropdown-item:active {
      background-color: var(--color-golden);
      color:#e5bb22
    }
    @media (min-width: 768px) {
    .booking-dropdown {
    font-size: 1.2rem;
    }
    }
    .table-display-message {
      padding: 2% 0;
      text-align: center;
      font-size: 1.3rem;
      color: white;
    }
    
 
/* .tables-display {
  background-image: url('../../assets/images/pattern.png'); 
  margin: 10% 2%;
  padding: 2% 5%;
  border-radius: 25px;
} */

@media (min-width: 768px) {
  .tables-display {
    margin: 6% 2.5%;
  }
}
.table-key {
  padding-top: 1%;
  padding-bottom: 4.5%;
  color: white;
}

.available-tables {
  color: white;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}

.table-container {
  margin: 0 1%;
}

.table {
  background-color: rgba(245, 246, 250, 0.4);
  padding: 15px;
  border-radius: 25px;
  min-width: 80px;
}

.table-row {
  margin-bottom: 8px;
}

.selectable-table:hover {
  cursor: pointer;
}
.selectable-table:hover-row {
  padding: 5px;
}

.full-table {
  background-color: white;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

.empty-table {
  background-color: #e74c3c;
  border: solid 2px white;
  border-radius: 50%;
  padding: 1px 10px;
  margin: 3px;
}

.table-name {
  color: white;
  font-size: 0.8rem;
  padding-top: 15px;
  font-family: Roboto, sans-serif;
}
   
  .modal-header {
    padding: 9px 10px;
    padding-top: 1rem;
    background-color: #DCCA87;
    color:#e5bb22;
    background-size:cover ;
    padding-left: 20px;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    text-align: center;
    font-family: 'Montserrat';
  }
  
  .cross-btn {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 45px;
    cursor: pointer;
    color: #fff;
    font-family: 'Montserrat';
  }
  
  .modal-body {
    flex-grow: 1;
    border-top: solid 1px #d8dce3;
    padding: 14px 19px 14px 19px;
  }
  
  .modal-footer {
    border-top: solid 1px #d8dce3;
    padding-top: 2rem;
    padding-bottom: .5rem;
    display: flex;
    justify-content: center;
  }
  
  .close-btn {
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
    background-color: #DCCA87;
    color: rgb(247, 248, 250);
    height: 35px;
    width: 117px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #DCCA87;
    cursor: pointer;
    margin-right: 1rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
  }

  .close-btn:hover {
    background-color:#e5bb22
  }
  
  .submit-btn {
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
    background-color: #62626e;
    color: rgb(247, 248, 250);
    height: 35px;
    width: 117px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #62626e;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: .5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  .submit-btn:hover {
    background-color:#434745;
  }

  .reserve-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .form-control {
    width: 80%;
    padding: 1rem;
    padding-left: 1rem;
    margin: .5rem;
    font-family: 'Montserrat', sans-serif;
    border: .5px solid;
    border-radius: 5px;
  }

  .date-time {
    padding-left: 1rem;
    margin-left: .5rem;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
  }

  .date-control {
    width: 40%;
    padding: .5rem;
    margin: .5rem;
    font-family: 'Montserrat', sans-serif;
    border: .5px solid;
    border-radius: 5px;
  }

  .select-time {
    width: 40%;
    padding: .57rem;
    margin: .5rem;
    font-family: 'Montserrat', sans-serif;
    border: .5px solid;
    border-radius: 5px;
  }

  .reserve-people button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 55px;
    font-size: 1.5rem;
    height: 55px;
    color:#DCCA87;
  }

  .count {
    font-size: 2.5rem;
    padding: 0;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
  }

  .reserve-people {
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .required {
    color: #DCCA87;
    font-family:'Montserrat', sans-serif;
    font-size: .7rem;
  }

  /*----Media Queries Small Screen----*/

  @media only screen and (min-width: 300px) and (max-width: 575px) {
    .modal-content {
      width:90%;
      height:68%;
    }

    .date-control {
      width: 45%;
    }

    .select-time {
      width: 35%;
    }

    .count {
      padding-left: 1rem;
    }

  }
  book-table-btn {
    font-size: 1.2rem;
    padding: 2% 8%;
    border-radius: 25px;
    background-color: var(--color-golden);
    border: 2px white solid;
    font-family: ABeeZee, sans-serif;
  }
  .book-table-btn:hover {
    color: #434745;
    background-color:  var(--color-golden); 
    border: 2px solid black !important;
  }