 .app__aboutus {
    background-color: #434745;
    background-image: url('../../assets/images/pattern.png');
    width: 100%;
    max-width:100%;
    z-index: 2;
    height: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    margin-top: 0.001rem;
    padding-left: 0;
    overflow: visible;
}   


 .app__aboutus-overlay {
    position: absolute;
    inset: 0;
}  
.app__aboutus-overlay img{
  width: 400px;
  height: 500px;
  z-index: -1;

position: absolute;
width: 470px;
height: 523px;
left: 420px;
top: 97px;
}
.app__aboutus-content{
width: 100%;
z-index: 2;
}
.app__aboutus-content_about {
flex: 1;
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex-direction: column;
padding: 3rem 1rem ;

text-align:right;
}
.app__aboutus-content_knife {
  margin: 2rem  4rem;
  padding-right: 6rem;
  padding-left: 6rem;

  
}
.app__aboutus-content_knife img{
  position: absolute;
  width: 200px;
  height: 138px;
  left: 512px;;
  top: 45px;
}



.app__aboutus-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10rem;
  
  text-align: left;
  }
  .app__aboutus-content_history p,
  .app__aboutus-content_about p{
    margin: 2rem 0;
  }
  @media screen and (min-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px;
    }

    .app__aboutus-content_about p,
    .app__aboutus-content_history p {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }

    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
    .app__aboutus-content_knife img{
      position: absolute;
      width: 20px;
      height: 13px;
      left: 512px;;
      top: 45px;
    }
}
  