.app__header{
    background-color: var(--color-golden);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-goldentext);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}
.app__header-img img{
    flex: 20;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;


}